[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=mongod
Type=forking

# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /var/run/mongo
ExecStartPre=/bin/chown -R mongod:mongod /var/run/mongo/

ExecStart=/usr/bin/mongos --quiet --config /etc/mongos.conf

[Install]
WantedBy=multi-user.target